<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite">
	<!-- 填写启动浏览器名字：chrome、firefox、ie、ghost，推荐chrome -->
	<parameter name="browserName" value="chrome" />
	<!-- 填写浏览器驱动存放路径的属性配置文件位置 -->
	<parameter name="driverConfigFilePath" value="../src/main/resources/config/driver.properties" />
	<!-- 填写cookies文件保存位置 -->
	<parameter name="cookiesConfigFilePath" value="../src/main/resources/config/cookies.txt" />
	<!-- 填写测试数据文件存放位置 -->
	<parameter name="testDataFilePath" value="../src/test/resources/testdata" />
	<!-- 填写AutoIT的exe执行文件位置 -->
	<parameter name="autoitFolderPath" value="../src/test/resources/exescript/autoit" />
	<!-- 填写测试的网站url -->
	<parameter name="testurl" value="https://mail.126.com" />
	<!-- 填写页面加载等待超时时间 -->
	<parameter name="pageLoadTimeout" value="20" />
	<!-- 填写保留测试日志天数 -->
	<parameter name="keepLogDay" value="10" />
	<listeners>
		<!-- 测试用例运行失败截图处理监听 -->
		<!-- 由于用了allure，截图的监听放这里的话allure测试报告不会显示截图图片，只能在每个测试类上加@Listeners({ TestNGListener.class})) -->
		<!--<listener class-name="com.demo.utils.TestNGListener" />-->
		
		<!-- 测试用例运行失败重跑处理监听 -->
		<listener class-name="com.demo.utils.TestNGRetryListener" />
	</listeners>
	<test name="test" preserve-order="true">
		<classes>
			<class name="com.demo.cases.login.LoginPage_001_LoginSuccess" />
			<class name="com.demo.cases.login.LoginPage_002_LoginFail" />
			<class name="com.demo.cases.home.HomePage_001_Overview_Tab" />
			<class name="com.demo.cases.home.HomePage_002_Overview_UnreadMail" />
			<class name="com.demo.cases.home.HomePage_003_Overview_TodoMail" />
			<class name="com.demo.cases.home.HomePage_004_Overview_ContactMail" />
			<!-- <class name="com.demo.cases.home.HomePage_005_Overview_Jifen" /> -->
			<class name="com.demo.cases.home.HomePage_006_Overview_SafetyDegree" />
			<class name="com.demo.cases.home.HomePage_007_Overview_LoginProtect" />
			<class name="com.demo.cases.home.HomePage_008_Overview_DailyLife" />
			<class name="com.demo.cases.login.LoginPage_003_Logout" />
		</classes>
	</test>
</suite>