<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite">
	<listeners>
		<listener class-name="com.demo.utils.TestFailListener" />
	</listeners>
	<test name="test">
		<classes>
			<class name="com.demo.cases.login.LoginPage_001_LoginSuccess" />
			<class name="com.demo.cases.login.LoginPage_002_LoginFail" />
			<class name="com.demo.cases.home.HomePage_001_Overview_Tab" />
			<class name="com.demo.cases.home.HomePage_002_Overview_UnreadMail" />
			<class name="com.demo.cases.home.HomePage_003_Overview_TodoMail" />
			<class name="com.demo.cases.home.HomePage_004_Overview_ContactMail" />
			<!-- <class name="com.demo.cases.home.HomePage_005_Overview_Jifen" /> -->
			<class name="com.demo.cases.home.HomePage_006_Overview_SafetyDegree" />
			<class name="com.demo.cases.home.HomePage_007_Overview_LoginProtect" />
			<class name="com.demo.cases.home.HomePage_008_Overview_DailyLife" />
		</classes>
	</test>
</suite>